/**
 * @file: main.css
 * @description: chronos-example main css file
 */

/*-----------------------------------------------------------------------------
  Helper classes
------------------------------------------------------------------------------*/
.padding{
    padding: 10px;
}

.v-offset{
    margin-top: 10px;
}

/*----------------------------------------------------------------------------
    General styles
------------------------------------------------------------------------------*/
html{
    overflow-y: scroll;
}

/*----------------------------------------------------------------------------
   Chrono section
------------------------------------------------------------------------------*/
.chrono{
    font-size: 60px;
}

/* Animation */

.blink {
  animation: blink 1.5s steps(5, start) infinite;
  -webkit-animation: blink 1.5s steps(5, start) infinite;
}

@keyframes blink {
  from { visibility: 100%; }
  to { visibility: hidden; }
}

@-webkit-keyframes blink {
  from { visibility: 100%; }
  to { visibility: hidden; }
}

.catched{
    font-size: 30px;
}
