/**
 * @file: main.css
 * @description: chronos-example main css file
 */

/*-----------------------------------------------------------------------------
  Helper classes
------------------------------------------------------------------------------*/
.padding{
    padding: 10px;
}

.v-offset{
    margin-top: 10px;
}

/*----------------------------------------------------------------------------
   Chrono section
------------------------------------------------------------------------------*/
.chrono{
    font-size: 60px;
}
